<!DOCTYPE html>
<html>
  <head>
    <title>Log in</title>
    <link rel="stylesheet" type="text/css" href="solid.css">
  </head>
  <body>
    <!-- default  -->
    <section class="xs-col-4 xs-border xs-p4 xs-mt3 xs-mx-auto">
      <div class="login-form__header xs-text-center">
        <h2 class="bold xs-pb2">Log in to BuzzFeed</h2>
      </div>

      {{ if .CustomLogin }}
      <div class="xs-py2">
        <form method="POST" action="{{.ProxyPrefix}}/sign_in">
          <input type="hidden" name="rd" value="{{.Redirect}}">
          {{ if .Error }}
            <fieldset class="fieldset form-fieldset--error">
          {{ else }}
            <fieldset class="fieldset">
          {{ end }}
            <label class="form-label xs-pt3">Your BuzzFeed username <span class="regular">(Not email address)</span></label>
            <input type="text" name="username" class="text-input xs-col-12">
          </fieldset>

          {{ if .Error }}
            <fieldset class="fieldset form-fieldset--error">
          {{ else }}
            <fieldset class="fieldset">
          {{ end }}
            <label class="form-label xs-pt2">Your password</label>
            <input type="password" name="password" class="text-input xs-col-12">
            {{ if .Error }}
              <span class="form-feedback">Please provide a valid username and password.</span>
            {{ end }}
          </fieldset>

          <button type="submit" class="xs-col-12 xs-mt3 button button--primary">Log in</button>
        </form>
      </div>

      <div class="login--divider clearfix xs-inline-block xs-col-12">
        <div class="xs-col-12 xs-inline-block xs-relative xs-t1 xs-border-top xs-float-left"></div>
      </div>
      {{ end }}

      <div class="xs-col-12 xs-pt5">
        <div class="xs-text-center text-gray--lightest">
          If you are a BuzzFeed employee...
        </div>
        <form method="GET" action="{{.ProxyPrefix}}/start">
          <input type="hidden" name="rd" value="{{.Redirect}}">
          <button type="submit" class="button button--secondary xs-col-12 xs-mt3">Log in with Your BuzzFeed Email</button>
        </form>
      </div>
    </section>

    {{ if .CustomLogin }}
    <section class="footnote xs-col-4 xs-py4 xs-mx-auto text-4">
      <p class="xs-pb1"><strong>Forgot your password?</strong></p>
      <p class="xs-pb1">Advertisers, please contact your BuzzFeed Client Services Representative</p>
      <p>Community users, <a target="_blank" href="{{.ProxyPrefix}}/forgot_password">please follow these instructions</a></p>
    </section>
    {{ end }}
  </body>
</html>
